<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>王金文的简历</title>
    <meta name="description" content="精益求精">
    <meta name="keywords" content="开发,工作,简历">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <link rel="stylesheet" href="../assets/css/fontello.min.css">
    <link rel="stylesheet" href="../assets/css/print.min.css">
    <link rel="stylesheet" href="../assets/css/zoom.css">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48084758-4', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Header -->
    <style>
        .column .cell .skbg, .column .cell .skco {
            display: inline-block;
            width: 245px;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            color: #ffffff;
            vertical-align: top;
            margin-top: 4px;
            background-color: #dddddd;
            border-radius: 20px;
            #display: inline;
            #zoom: 1
        }

        .column .lh .skco {
            width: 112px !important;
        }

        .column .cell .skco {
            width: 235px;
            font-style: normal;
            margin-top: 0;
            padding-left: 10px;
            background-color: #00A1D6;
            z-index: 3;
        }

        .column .sl .skco {
            width: 173px !important;
        }

        .column .cell .skco {
            width: 235px;
            font-style: normal;
            margin-top: 0;
            padding-left: 10px;
            background-color: #00A1D6;
            z-index: 3;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="title">
            <img src="../images/picture.png" data-action="zoom">
            <h1>王金文</h1>
            <h2>java软件开发</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                <dd><i class="icon-phone-1"></i>电话: 13761884812</dd>
                <dd><i class="icon-mail-alt"></i>邮箱: <a href="497859689@qq.com" target="_blank">497859689@qq.com</a>
                </dd>
                <!--<dd><i class="icon-wechat"></i>微信: 才不会告诉你呢</dd>-->
                <!--<dd><i class="icon-qq"></i>QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin=245672290&site=qq&menu=yes"-->
                <!--target="_blank">245***290</a></dd>-->
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                <dd>Java软件工程师</dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Skill. 技能清单</dt>
                <ul>
                    <dd>JAVA</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>javascript</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>MySQL</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>angularjs</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">良好</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>jquery</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">良好</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>jqgrid</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">良好</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                </ul>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Self evaluation. 自我评价</dt>
                <dd>有很好的代码书写习惯，逻辑性强。善于沟通，喜欢团队合作。</dd>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                <dd><strong>个人信息:</strong> <span>王金文 / 男</span></dd>
                <dd><strong>毕业院校:</strong> <span>太原工业学院</span></dd>
                <dd><strong>专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</strong> <span>软件工程</span></dd>
                <dd><strong>工作年限:</strong> <span>两年半</span></dd>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>Experience. 项目与工作经验</dt>
                <h3><img src="../images/hongli.png" data-action="zoom"><span>上海宏理信息科技有限公司（2016.8 - 至今）</span></h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>微信购票</h4>
                        <p>项目描述：绑定微信公众号，可通过微信公众号进行购票，访问个人中心，退票等操作。前端项目，采用ionic+angularjs 进行开发；功能：下单， 查看消费记录，余额，支付，退订。</p>
                        <p>
                            责任描述：1.根据需求文档进行编码工作，登录公众号进行参数配置，验证accesstoken，获取openid，开发票列表界面，订单填写界面，微信支付宝支付，个人中心界面，订单详情界面等。如订单填写，在价格日历里显示票的价格，选中之后，根据票的要求，是否填写出行人，是否需要证件在界面展示，下单时，将信息传到票务系统，票务系统进行拆解信息，验证是否可下单后，进行下单。
                            2.针对已开发功能模块进行维护修改
                            3.发布上线之后的维护，根据客户反馈进行更改</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>OTA项目</h4>
                        <p>项目描述：将各大ota请求的不同格式数据，进行拆解、封装、处理，转换成统一的格式发往票务系统。</p>
                        <p>
                            责任描述：1.讨论需求，编写需求文档，搭建项目，研究xsl转换，建立表结构，进行代码编写
                            2.与各大ota联调，上线。
                            3.发布上线之后的维护</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>官网购票</h4>
                        <p>项目描述：建立购票官网，客户通过官网下单，微信或支付宝支付。然后发短信到客户手机，至线下取票，该项目是获取的票务系统的可购买的票种信息，基本框架采用 Mybatis与后台数据库的多数据源进行交互，业务控制层使用 Spring管理类以及对象，前端使用HTML进行表现层的开发，通过ajax访问票务系统返回所需数据。
                            功能：购票，个人信息，退票，查看订单。</p>
                        <p>
                            责任描述：1.讨论需求，编写需求文档，搭建项目，建立表结构，进行代码编写
                            3.发布上线之后的维护</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>微信项目</h4>
                        <p>项目描述：维护微信菜单，消息接管，微信卡券，拉取用户信息</p>
                        <p>
                            责任描述：1.讨论需求，搜索开源的封装好的微信sdk，搭建项目，研究微信公众号开发，建立表结构，进行代码编写
                            3.发布上线之后的维护</p>
                    </li>
                </ul>
                <h3><img src="" data-action="zoom"><span>上海宏巍信息技术有限公司（2016.8 - 2017.7）</span></h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>宏巍商铺旺 ERP （独立版本-泰璞）</h4>
                        <p>项目描述：该项目基于产品的进行二次开发，应客户需求针对仓储管理、订单管理、商品及售后管理的更改，如个人开发
                            职责其中的一部分：采购入库到货流程，在仓库管理模块新增"到货"模块，主要新增页面包括：到货单、到货
                            记录；功能：新建到货单、计算及更新采购、到货、入库单据的数量、确认到货更新单据状态、在手持设备中
                            操作采购入库，确认入库后，在 ERP 中生成一张未确认的到货单、到货单入库等等
                            基本框架采用 Hibernate与后台数据库数据源进行交互，业务控制层使用 Spring管理类以及对象，而使用 Dora
                            do 集成框架（类似 JQuery EasyUI、ExtJs）进行表现层的开发，为 Web 应用提供更加丰富、友好的用户界面，
                            同时大幅提高展现层的开发效率</p>
                        <p>
                            责任描述：1.根据需求文档进行编码工作，在采购入库之间新增到货单功能，以及支持 PDA手持终端
                            2.针对已开发功能模块交由测试组进行测试工作，测试通过后协同运维发布上线
                            3.发布上线之后的维护，根据客户反馈进行更改</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>宏巍商铺旺 ERP （产品）</h4>
                        <p>项目描述：宏巍商铺旺 ERP——订单收费版，全线 BS 架构，随时可以了解店铺销售情况。全网首创的电商 ERP 新模式。
                            经淘宝扶持商家实际效果收费，降低初期卖家的运营成本，管理店铺正常的打单、发货、财务等日常工作
                            主要功能：会员管理、商品管理、采购管理、订单管理、库存管理、报表分析等宏巍商铺旺 ERP——企业版采用 BS 架构，可以管理多类目，多平台的店铺。基于云服务的支持，集成了 ERP+CRM 的应用完美融合。能够帮助商家提高运营能力、降低运营成本、提升商家管理效率。实现库存的发货精准，不漏发错发快速优化整体供应链流程，同时提供销售、采购、绩效、数据等多种报表分析
                            主要功能：自动审单，快速发货，智能拣货，库存同步，采购入库，库存成本等等
                            基本框架采用 Hibernate与后台数据库数据源进行交互，业务控制层使用 Spring管理类以及对象，而使用 Dora
                            do 集成框架（类似 JQuery EasyUI、ExtJs）进行表现层的开发，为 Web 应用提供更加丰富、友好的用户界面，
                            同时大幅提高展现层的开发效率</p>
                        <p>
                            责任描述：1.电商 ERP 产品大众版本及独立版本的后期维护，对接各大电商平台以及和接口组进行联调，并协助售后处理用户问题
                            2.根据客户需求更改功能模块，针对已更改功能点交由测试组进行测试工作，测试通过后协同运维发布上线</p>
                    </li>
                </ul>

                <h3>tool.工具</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>框架</span>
                        </h4>
                        <p>1.Spring+MyBatis的整合；2.三大框架Struts+Spring+Hibernate;</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>软件</span>
                        </h4>

                        <p>1.eclipse；2.webstorm；3.MySQL Workbench </p>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<script src="../assets/js/zoom.min.js"></script>
</body>
</html>

